html, body {
    justify-content: center;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.wrapper {
    flex-direction: column;
    display: flex;
}

.topnav {
    flex-direction: row;
}

.topnav a {
    float: left;
    display: block;
    color: #000000; 
    padding: 14px 16px;
    background-color: transparent;
    text-decoration: none;
}

.topnav a.active {
    background-color: lightblue;/*#D3D3D3;*/
    font-weight: bold;  
}

.profile-picture {
    border-radius: 50%
}

.title {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px 0;
}

.section {
    display: flex;
    width: 50%;
    margin: 15px 0 15px 1%;
    padding: 15px 10px;

    border-left: 10px solid black;  
    background-color: #D3D3D3;
}

.subsection {
    flex-direction: column;
    display: flex;
    margin: 0 2% 0 2%;
}

.subsection-title {
    margin: 15px 1% 15px 1%;
}

.description {
    display: flex;
    margin: 2% 10% 0 10%;
}

.container {
    flex-direction: row;
    display: flex;
}

.left, .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left {
    width: 30%;
    margin-left: 5%;
    margin-right: 5px;
    align-items: center;
}

.right {
    width: 70%;
    margin-left: 5px;
    margin-right: 5%;
}

ul {
    margin: 5px 0 5px 0;
}

p {
    margin: 1% 0 0 1%;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;    
}


